* {
    margin: 0;
    padding: 0;
    
    
}

nav {
    background-color: white;
    padding: 0% 1% 1% 1%;
    
}

h1, h2, h5 {
    text-align: center;
}

.Bigger {
    font-size: 50px;
    margin-right: 50%;


}

nav {
    margin: 0 auto;
    width: 90%;
}

nav ul li {
    display:inline; 
    margin-right: 60px;
}

article {
    width: 33%;
    float: left;
    box-shadow:20px 20px 50px grey;  
    text-align: center;
    margin-bottom: 50px;
    margin-top: 150px;
    margin-left: 2px;
    
    
}

section{
    width: 33%;
    height: 400px;
    box-shadow:20px 20px 50px grey;  
}

button{
    background-color: #4CAF50; 
    border:black;
    color: white;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 30px 40px;
    cursor: pointer;
    border-radius: 40px;
    width: 200px;

}

.Phone{
    margin-left: 100px;
    margin-top: -300px;
    
}

.Logo{
    width: 100px;
    margin-right:50px;
    
    
    

}
