* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: gray;
}



section {
    float: left;
    width: 500px;
    height: 300px;
    border:10px solid rgb(19, 47, 170); 
    padding: 50px;
    margin: 20px;
    color: white;
    display: block;
    max-width: 500px;
    margin: auto;
    position: absolute;
    
    
}

img {
    float: right;
    width: 600px;
    height: 400px;
    border: 10px solid rgb(19, 47, 170); 
    padding: 0px;
    margin: 20px;
    display: block;
    max-width: 1000px;
    margin: auto;
    
    
  }

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

nav {
    background-color: black;
    color: white;
    font-size: 17px;

}

button {
    
    background-color: rgb(19, 47, 170);
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    display: block;
    max-width: 300px;
    margin: auto;




    
   
    

    
  }

h1, h2 {
    text-align:center;
    color: white;
    

}

h1 {
    font-size: 20px;
    margin: auto;
    margin-left: auto;
    text-align: center;
}

nav ul li {
    display: inline;
    list-style: none;
    color: white;
}

nav ul {
    width: 200px;
    margin: 0 auto;
    color: white;
}



 article  {
    display: block;
    width: 500px;
    height: 300px;
    border:10px solid rgb(19, 47, 170); 
    padding: 50px;
    margin: 20px;
    color: white;
    max-width: 500px;
    margin-left:left;
    margin: 25%;
  
    
    

}

article img {
border: 0px;
max-width: 500px;
margin: auto;
height: 250px;



}


